html, body {
    height: 100%;
    background: #F1F2F7;
    font-size: 14px;
    padding-right: 3px;
}

/* pxgridsicons字体 */
@font-face {
    font-family: 'pxgridsicons';
    src: url('font/pxgridsicons.eot');
    src: url('font/pxgridsicons.eot') format('embedded-opentype'),
    url('font/pxgridsicons.woff') format('woff'),
    url('font/pxgridsicons.ttf') format('truetype'),
    url('font/pxgridsicons.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="iconpx-"],
[class*=" iconpx-"] {
    font-family: 'pxgridsicons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.iconpx-user:before {
    content: "\e69d";
}

.iconpx-users:before {
    content: "\e69e";
}

.iconpx-user-add:before {
    content: "\e69f";
}

.iconpx-file-word-o:before {
    content: "\f1c2";
}

.iconpx-check-circle:before {
    content: "\f058";
}

.iconpx-chevron-down:before {
    content: "\f078";
}

.iconpx-chevron-up:before {
    content: "\f077";
}

.larry-grid {
    width: calc(100% - 30px);
    width: -moz-calc(100% - 30px);
    width: -webkit-calc(100% - 30px);
    margin: 0 auto;
}

.larry-wrapper {
    padding: 15px;
}

.larry-grid .row blockquote {
    padding-top: 0px;
    padding-bottom: 0px;
    height: auto;
    margin-bottom: 20px;
}

.head-con {
    height: 50px;
    color: #a94442;
    background-color: #f2dede;
    text-align: left;
    line-height: 50px;
    font-size: 14px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    position: relative;
}

.head-con div {
    display: inline-block;
}

.head-con i.close {
    display: inline-block;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    color: #A94442;
    position: absolute;
    top: 12px;
    right: 15px;
}

.head-con i.close:hover {
    color: #FF5722;
}

.shortcut {
    display: block;
    height: auto;
    padding: 0px;
}

.shortcut .panel {
    height: 85px;
    position: relative;
}

.shortcut .panel .symbol {
    width: 38%;
    height: 83px;
    position: absolute;
    top: 0px;
    left: 0px;
    -webkit-border-radius: 4px 0px 0px 4px;
    border-radius: 4px 0px 0px 4px;
    text-align: center;
    line-height: 83px;
}

.symbol i {
    color: #fff;
    font-size: 3em;
}

.shortcut .panel .value {
    width: 60%;
    height: 83px;
    position: absolute;
    top: 0px;
    right: 0px;
    display: inline-block;
    text-align: center;
}

.shortcut-bg1 {
    background: #1E9FFF;
}

.shortcut-bg2 {
    background: #FF5722;
}

.shortcut-bg3 {
    background: #009688;
}

.shortcut-bg4 {
    background: #5FB878;
}

.shortcut-bg5 {
    background: #F7B824;
}

.shortcut-bg6 {
    background: #FF5722;
}

.value h1, .value p {
    margin: 0;
    padding: 0;
    color: #979DAF;
    font-family: Arial, Helvetica, sans-serif;
}

.value:hover h1, .value:hover p {
    color: #A7ACBB;
}

.value h1 {
    display: block;
    height: 45px;
    line-height: 45px;
    padding-top: 8px;
    font-size: 30px;
    font-weight: 300;
}

.value a {
    cursor: pointer;
}

.value p {
    display: block;
    height: 30px;
    line-height: 30px;
    padding-top: 1px;
}

.system {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.system > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.panel-heading {
    border-color: #eff2f7;
    font-size: 14px;
    font-weight: 300;
    padding: 15px 20px;
    padding-left: 15px;
    border: 0;
    border-bottom: 1px solid #EEEFF1;
}

.span-title {
    font-size: 16px;
    color: #333;
    font-family: "Microsoft YaHei";
    font-weight: 400;
}

.tools a {
    margin-left: 10px;
    color: #e2e2e2;
    font-size: 12px;
}

.tools a:hover {
    color: #A7A7A7;
}

.panel .panel-body {
    padding: 0px;
}

.panel .panel-body .larry-table {
    margin: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.larry-table td {
    border: 1px solid #E2E2E2;
}

.larry-table-info td {
    color: #696969;
    font-size: 12px;
    line-height: 25px;
}

.larry-table-info td span.info {
    font-size: 12px;
    font-weight: normal;
}

.larry-table-info td a.tit span {
    color: #333333;
    font-size: 14px;
}

.larry-table-info td span.info a {
    color: #696969;
    margin-right: 5px;
}

.larry-table-info td span.iframe {
    color: #FF5722;
}

.larry-table-info td span.tit {
    font-size: 14px;
}

.larry-table-info td a.layui-btn {
    color: #ffffff;
    letter-spacing: 1px;
    font-size: 14px;
}

.qq-add {
    margin-left: 5px;
    color: #FF5824;
}

.larry-table-info td a.official:hover {
    color: #1E9FFF;
}

.larry-table-info td a {
    color: #01AAED;
}

.larry-table-info td span.tit {
    color: #999999;
    font-weight: bold;
}

.table > tbody > tr > td, .table > thead > tr > th {
    padding: 10px 20px;
}

.panel .panel-body .table, .panel .panel-body .table-responsive {
    margin-bottom: 0;
}

.panel .panel-body .table > tbody > tr > td a.menunamea {
    color: #797979;
}

.panel .panel-body .table > tbody > tr > td a:hover.menunamea, .table > tbody > tr > td a:hover.menunamea i {
    color: #337ab7;
}

.table > tbody > tr > td i {
    margin: 0 0 0 5px;
    font-size: 14px;
    color: #BCBFC9;
}

.table > tbody > tr:hover > td, .table > tbody > tr:hover > th {
    background-color: #FCFFE9;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    border-top: 1px dotted #E3E7EA;
    vertical-align: middle;
}

.table > thead > tr > th {
    border-bottom: 1px dotted #E3E7EA;
}

.personal-task tbody tr td {
    padding: 15px 20px;
}

.personal-task tbody tr td a {
    color: #797979;
}

.personal-task tbody tr td a:hover {
    color: #3B4658;
}

.personal-task .layui-larry-table > tbody > tr:hover > td, .layui-larry-table > tbody > tr:hover > th {
    background-color: #f7f8fc;
}

.personal-task > tbody > tr > td:last-child {
    text-align: right;
}

.panel span.badge {
    margin-top: -5px;
}

.personal-task td.top-top {
    border-top: none;
}

.larry_github {
    text-align: left;
    line-height: 26px;
    font-size: 14px;
    padding-bottom: 5px;
    padding-top: 5px;

}

.larry_github a.githublink {
    color: #FF5722;
}

.larry_github a.githublink:hover {
    color: #01AAED;
}

.larry_github span {
    color: #FF5722;
    padding-right: 15px;
}

.update-log {
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 15px;
    overflow-x: hidden;
}

.update-log h2 {
    color: #333333;
    font-size: 18px;
    line-height: 25px;
}

.update-log ul {
    padding-top: 10px;
}

.update-log ul li {
    line-height: 20px;
    color: #666666;
    margin-bottom: 5px;
}

.update-log ul li p {
    display: inline-block;
    vertical-align: top;
    color: #666666;
    line-height: 20px;
    padding-left: 5px;
    font-size: 14px;
}

.larry-seo-box {
    border-top: 1px dotted #E3E7EA;
}

.larry-seo-stats {
    display: block;
    padding: 15px;
    height: 300px;
}

fieldset.layui-field-title {
    border-left: none;
    border-bottom: none;
    border-right: none;
}

fieldset.layui-field-title legend {
    width: 100px;
    border: 1px solid red;
    border: none;
}

fieldset.content legend {
    width: 145px;
    border: none;
}

.larry-document {
    display: block;
    margin: 15px;
}

.larry-document table thead th {
    text-align: center;
}

.larry-document table tbody tr td {
    text-align: center;
}

.larry-document table tbody tr td:first-child {
    text-align: left;
}

.larry-document .layui-form-switch {
    width: 55px;
    margin: 0 auto;
}

@media screen and (min-width: 1200px) {
    .shortcut [class*='col-lg-2']:first-child {
        padding-left: 0px;
    }

    .shortcut [class*='col-lg-2']:last-child {
        padding-right: 0px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .shortcut [class*='col-md-4']:nth-child(1) {
        padding-left: 0px;
    }

    .shortcut [class*='col-md-4']:nth-child(4) {
        padding-left: 0px;
    }

    .shortcut [class*='col-md-4']:nth-child(3) {
        padding-right: 0px;
    }

    .shortcut [class*='col-md-4']:nth-child(6) {
        padding-right: 0px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .shortcut [class*='col-sm-6']:nth-child(1) {
        padding-left: 0px;
    }

    .shortcut [class*='col-sm-6']:nth-child(3) {
        padding-left: 0px;
        padding-right: 15px;
    }

    .shortcut [class*='col-sm-6']:nth-child(5) {
        padding-left: 0px;
    }

    .shortcut [class*='col-sm-6']:nth-child(2) {
        padding-right: 0px;
    }

    .shortcut [class*='col-sm-6']:nth-child(4) {
        padding-left: 15px;
        padding-right: 0px;
    }

    .shortcut [class*='col-sm-6']:nth-child(6) {
        padding-right: 0px;
    }
}

@media screen and (max-width: 768px) {
    .shortcut [class*='col-xs-12'] {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}

@media screen and (min-width: 992px) {
    .system [class*='col-lg-6']:nth-child(1), .system [class*='col-md-6']:nth-child(1) {
        padding-left: 0px;

    }

    .system [class*='col-lg-6']:nth-child(2n), .system [class*='col-md-6']:nth-child(2n) {
        padding-right: 0px;

    }

    .system [class*='col-lg-6']:nth-child(3n), .system [class*='col-md-6']:nth-child(3n) {
        padding-left: 0px;

    }
}

@media screen and (max-width: 991px) {
    .system [class*='col-lg-6'], .system [class*='col-md-6'] {
        padding-left: 0px;
        padding-right: 0px;
    }
}