version: '3.0'

services:
    activemq:
        image: webcenter/activemq
        # restart: always
        container_name: activemq
        ports:
            - "8161:8161"
            - "61616:61616"

networks:
    default:
        external:
            name: mynet

